@page "/listaOrdenesCompra"
@inject IServCarroCompra ServCarro
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar /*Servicio para las notificaciones*/
@using Radzen.Blazor
@attribute [Authorize(Roles = "1, 2")]

<MudText Align="Align.Center" Typo="Typo.h5" Style="margin-bottom:30px;">Listado de Ordenes de Compra</MudText>

@if(fullOrders == null)
{
    <MudProgressLinear Color="Color.Primary" Striped="true" Indeterminate="true" Class="my-1"/>
}
else
{
    <MudGrid Justify="Justify.Center">
            @if(ordenesPendientes == null)
            {
                <MudProgressLinear Color="Color.Primary" Striped="true" Indeterminate="true" Class="my-1"/>
            }
            else
            {
                <MudText Align="Align.Center" Typo="Typo.h6" Style="color:green; margin-bottom:10px;">Pendientes</MudText>

                <RadzenGrid Data="@ordenesPendientes" TItem="OrdenesCompraListado" AllowFiltering="true" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10" AllowSorting="true" Style="margin-bottom:30px;" AllowColumnResize="true">
                    <Columns>
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="IdCarro" Title="N° Orden" Width="100px"></RadzenGridColumn>
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="Estado" Title="Estado" Width="120px">
                            <Template Context="est">
                                <div style="color:green;">@est.Estado</div>
                            </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="UsuarioCrea" Title="Solicitado por" Width="120px"></RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaOrden" Title="Fecha de Orden" Width="150px"></RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaEntrega" Title="Fecha de Entrega" Width="130px">
                            <Template Context="fecEnt">
                                @if(fecEnt.FechaEntrega == null)
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0:d}", fecEnt.FechaEntrega);
                                }
                            </Template>
                        </RadzenGridColumn>
                        @*<RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaUltModif" Title="Ultima Modificacion"></RadzenGridColumn>*@
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="Total" Title="Importe Total" Width="150px">
                            <Template Context="tot">
                                @string.Format(new System.Globalization.CultureInfo("es-AR"), "{0:C}", tot.Total)
                            </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="Pagado" Title="¿Pagado?" Width="100px">
                            <Template Context="pagado">
                                @if(pagado.Pagado)
                                {
                                    <MudIcon Icon="@Icons.Filled.Check" Color="Color.Success"></MudIcon>
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Filled.Dangerous" Color="Color.Error"></MudIcon>
                                }
                            </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaPago" Title="Fecha de Pago" Width="150px">
                            <Template Context="fecPag">
                                @if(fecPag.FechaPago == null)
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0:d}", fecPag.FechaPago);
                                }
                            </Template>
                        </RadzenGridColumn>
                        @*<RadzenGridColumn TItem="OrdenesCompraListado" Property="FormaP" Title="Forma de Pago" Width="140px"></RadzenGridColumn>*@
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="Observaciones" Title="Observaciones">
                            <Template Context="obs">
                                @if(string.IsNullOrEmpty(obs.Observaciones))
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0}", obs.Observaciones);
                                }
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="IdCarro" Title="Ver Detalles" Width="120px">
                            <Template Context="detalles">
                                <RadzenButton ButtonStyle="Radzen.ButtonStyle.Info" Icon="info" Click="@(() => NavigationManager.NavigateTo($"/detallesOrdenesCompra/{@detalles.IdCarro}"))"/>
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            }
    </MudGrid>

    <MudGrid Justify="Justify.Center">
            @if(ordenesAprobadas == null)
            {
                <MudProgressLinear Color="Color.Primary" Striped="true" Indeterminate="true" Class="my-1"/>
            }
            else
            {
            <MudText Align="Align.Center" Typo="Typo.h6" Style="color:#00FF00; margin-top:25px; margin-bottom:10px;">Aprobadas</MudText>

                <RadzenGrid Data="@ordenesAprobadas" TItem="OrdenesCompraListado" AllowFiltering="true" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10" AllowSorting="true" Style="margin-bottom:30px;" AllowColumnResize="true">
                    <Columns>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="IdCarro" Title="N° Orden" Width="100px"></RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="Estado" Title="Estado" Width="120px">
                            <Template Context="est">
                                <div style="color:#00FF00;">@est.Estado</div>
                            </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="UsuarioCrea" Title="Solicitado por" Width="120px"></RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaOrden" Title="Fecha de Orden" Width="150px"></RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaEntrega" Title="Fecha de Entrega" Width="130px">
                            <Template Context="fecEnt">
                                @if(fecEnt.FechaEntrega == null)
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0:d}", fecEnt.FechaEntrega);
                                }
                            </Template>
                        </RadzenGridColumn>
                        @*<RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaUltModif" Title="Ultima Modificacion"></RadzenGridColumn>*@
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="Total" Title="Importe Total" Width="150px">
                            <Template Context="tot">
                                @string.Format(new System.Globalization.CultureInfo("es-AR"), "{0:C}", tot.Total)
                            </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="Pagado" Title="¿Pagado?" Width="100px">
                            <Template Context="pagado">
                                @if(pagado.Pagado)
                                {
                                    <MudIcon Icon="@Icons.Filled.Check" Color="Color.Success"></MudIcon>
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Filled.Dangerous" Color="Color.Error"></MudIcon>
                                }
                        </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaPago" Title="Fecha de Pago" Width="150px">
                            <Template Context="fecPag">
                                @if(fecPag.FechaPago == null)
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0:d}", fecPag.FechaPago);
                                }
                            </Template>
                        </RadzenGridColumn>
                    @*<RadzenGridColumn TItem="OrdenesCompraListado" Property="FormaP" Title="Forma de Pago" Width="140px"></RadzenGridColumn>*@
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="Observaciones" Title="Observaciones">
                            <Template Context="obs">
                                @if(string.IsNullOrEmpty(obs.Observaciones))
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0}", obs.Observaciones);
                                }
                            </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="IdCarro" Title="Ver Detalles" Width="120px">
                            <Template Context="detalles">
                                <RadzenButton ButtonStyle="Radzen.ButtonStyle.Info" Icon="info" Click="@(() => NavigationManager.NavigateTo($"/detallesOrdenesCompra/{@detalles.IdCarro}"))"/>
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            }
    </MudGrid>

    <MudGrid Justify="Justify.Center">
            @if(ordenesCanceladas == null)
            {
                <MudProgressLinear Color="Color.Primary" Striped="true" Indeterminate="true" Class="my-1"/>
            }
            else
            {
            <MudText Align="Align.Center" Typo="Typo.h6" Style="color:red; margin-top:25px; margin-bottom:10px;">Canceladas</MudText>

                <RadzenGrid Data="@ordenesCanceladas" TItem="OrdenesCompraListado" AllowFiltering="true" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10" AllowSorting="true" Style="margin-bottom:30px;" AllowColumnResize="true">
                    <Columns>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="IdCarro" Title="N° Orden" Width="100px"></RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="Estado" Title="Estado" Width="120px">
                            <Template Context="est">
                                <div style="color:red;">@est.Estado</div>
                            </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="UsuarioCrea" Title="Solicitado por" Width="120px"></RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaOrden" Title="Fecha de Orden" Width="150px"></RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaEntrega" Title="Fecha de Entrega" Width="130px">
                            <Template Context="fecEnt">
                                @if(fecEnt.FechaEntrega == null)
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0:d}", fecEnt.FechaEntrega);
                                }
                            </Template>
                        </RadzenGridColumn>
                        @*<RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaUltModif" Title="Ultima Modificacion"></RadzenGridColumn>*@
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="Total" Title="Importe Total" Width="150px">
                        <Template Context="tot">
                                @string.Format(new System.Globalization.CultureInfo("es-AR"), "{0:C}", tot.Total)
                            </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="Pagado" Title="¿Pagado?" Width="100px">
                            <Template Context="pagado">
                                @if(pagado.Pagado)
                                {
                                    <MudIcon Icon="@Icons.Filled.Check" Color="Color.Success"></MudIcon>
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Filled.Dangerous" Color="Color.Error"></MudIcon>
                                }
                        </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaPago" Title="Fecha de Pago" Width="150px">
                            <Template Context="fecPag">
                                @if(fecPag.FechaPago == null)
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0:d}", fecPag.FechaPago);
                                }
                            </Template>
                        </RadzenGridColumn>
                    @*<RadzenGridColumn TItem="OrdenesCompraListado" Property="FormaP" Title="Forma de Pago" Width="140px"></RadzenGridColumn>*@
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="Observaciones" Title="Observaciones">
                            <Template Context="obs">
                                @if(string.IsNullOrEmpty(obs.Observaciones))
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0}", obs.Observaciones);
                                }
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="IdCarro" Title="Ver Detalles" Width="120px">
                            <Template Context="detalles">
                                <RadzenButton ButtonStyle="Radzen.ButtonStyle.Info" Icon="info" Click="@(() => NavigationManager.NavigateTo($"/detallesOrdenesCompra/{@detalles.IdCarro}"))"/>
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            }
    </MudGrid>

    <MudGrid Justify="Justify.Center">
            @if(ordenesFinalizadas == null)
            {
                <MudProgressLinear Color="Color.Primary" Striped="true" Indeterminate="true" Class="my-1"/>
            }
            else
            {
            <MudText Align="Align.Center" Typo="Typo.h6" Style="color: blue; margin-top:25px; margin-bottom:10px;">Finalizadas</MudText>

                <RadzenGrid Data="@ordenesFinalizadas" TItem="OrdenesCompraListado" AllowFiltering="true" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10" AllowSorting="true" Style="margin-bottom: 30px;" AllowColumnResize="true">
                    <Columns>
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="IdCarro" Title="N° Orden" Width="100px"></RadzenGridColumn>
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="Estado" Title="Estado" Width="120px">
                            <Template Context="est">
                                <div style="color: blue;">@est.Estado</div>
                            </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="UsuarioCrea" Title="Solicitado por" Width="120px"></RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaOrden" Title="Fecha de Orden" Width="150px"></RadzenGridColumn>
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaEntrega" Title="Fecha de Entrega" Width="130px">
                            <Template Context="fecEnt">
                                @if(fecEnt.FechaEntrega == null)
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0:d}", fecEnt.FechaEntrega);
                                }
                            </Template>
                        </RadzenGridColumn>
                        @*<RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaUltModif" Title="Ultima Modificacion"></RadzenGridColumn>*@
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="Total" Title="Importe Total" Width="150px">
                            <Template Context="tot">
                                @string.Format(new System.Globalization.CultureInfo("es-AR"), "{0:C}", tot.Total)
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="Pagado" Title="¿Pagado?" Width="100px">
                            <Template Context="pagado">
                                @if(pagado.Pagado)
                                {
                                    <MudIcon Icon="@Icons.Filled.Check" Color="Color.Success"></MudIcon>
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Filled.Dangerous" Color="Color.Error"></MudIcon>
                                }
                        </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="OrdenesCompraListado" Property="FechaPago" Title="Fecha de Pago" Width="150px">
                            <Template Context="fecPag">
                                @if(fecPag.FechaPago == null)
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0:d}", fecPag.FechaPago);
                                }
                            </Template>
                        </RadzenGridColumn>
                    @*<RadzenGridColumn TItem="OrdenesCompraListado" Property="FormaP" Title="Forma de Pago" Width="140px"></RadzenGridColumn>*@
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="Observaciones" Title="Observaciones">
                            <Template Context="obs">
                                @if(string.IsNullOrEmpty(obs.Observaciones))
                                {
                                    @string.Format("----");
                                }
                                else
                                {
                                    @string.Format("{0}", obs.Observaciones);
                                }
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="OrdenesCompraListado" Property="IdCarro" Title="Ver Detalles" Width="120px">
                            <Template Context="detalles">
                                <RadzenButton ButtonStyle="Radzen.ButtonStyle.Info" Icon="info" Click="@(() => NavigationManager.NavigateTo($"/detallesOrdenesCompra/{@detalles.IdCarro}"))"/>
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            }
    </MudGrid>
}

@code {
    //Objetos para mostrar en las tablas
    IEnumerable<OrdenesCompraListado> fullOrders;
    IEnumerable<OrdenesCompraListado> ordenesPendientes;
    IEnumerable<OrdenesCompraListado> ordenesAprobadas;
    IEnumerable<OrdenesCompraListado> ordenesCanceladas;
    IEnumerable<OrdenesCompraListado> ordenesFinalizadas;


    protected override async Task OnInitializedAsync()
    {
        fullOrders = await ServCarro.ObtenerOrdenesCompra();
        ordenesPendientes = fullOrders.Where(p => p.Estado == "Pendiente");
        ordenesAprobadas = fullOrders.Where(a => a.Estado == "Aprobado");
        ordenesCanceladas = fullOrders.Where(c => c.Estado == "Cancelado");
        ordenesFinalizadas = fullOrders.Where(f => f.Estado == "Finalizado");
    } 
}