@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">VENTODO</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>        
    </div>    
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Cuentas Corrientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-document" aria-hidden="true"></span> Comprobantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-file" aria-hidden="true"></span> Recibos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Ordenes de Compra
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listaProductos" Match="NavLinkMatch.All">
                <span class="oi oi-box" aria-hidden="true"></span> Productos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listaProductos" Match="NavLinkMatch.All">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Presupuestos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-phone" aria-hidden="true"></span> Proveedores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Informes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Varios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> Configuraciones
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }    
}*@

<MudDrawer @bind-Open="SideBarOpen" Elevation="1">
    <MudDrawerHeader>
        <MudAvatar Color="Color.Transparent" Size="Size.Large" Image="images/ecommerce_logo.jpg"/>
        <MudText Typo="Typo.h5" Color="Color.Primary" Style="margin-top:10px; margin-left:15px;">E-Commerce</MudText>
    </MudDrawerHeader>

    <MudNavMenu>
        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Home">Inicio</MudNavLink>

        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.MenuBook">Cuentas Corrientes</MudNavLink>

        <MudNavGroup Title="Comprobantes" Icon="@Icons.Filled.Receipt">
            <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList">Consultar</MudNavLink>
            <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircle">Agregar</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Recibos" Icon="@Icons.Filled.ReceiptLong">
            <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList">Consultar</MudNavLink>
            <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircle">Agregar</MudNavLink>
        </MudNavGroup>

        <MudNavLink Href="/listaOrdenesCompra" Match="NavLinkMatch.All" Icon="@Icons.Filled.ShoppingCartCheckout">Ordenes de Compra</MudNavLink>
               
        <MudNavGroup Title="Productos" Icon="@Icons.Filled.Tapas">
            <MudNavLink Href="/listaProductos" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList">Listado de Productos</MudNavLink>
            <MudNavLink Href="/detallesProducto" Match="NavLinkMatch.All" Icon="@Icons.Filled.PlaylistAdd">Agregar Producto</MudNavLink>
            
            <MudNavGroup Title="Tipos de Productos" Icon="@Icons.Filled.ViewAgenda">
                <MudNavLink Href="/listaTiposProd" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList">Consultar</MudNavLink>
                <MudNavLink Href="/detallesTiposProd" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircle">Agregar</MudNavLink>         
            </MudNavGroup>

            <MudNavGroup Title="Unidades de Medida" Icon="@Icons.Filled.DesignServices">
                <MudNavLink Href="/listaUnidadesMed" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList">Consultar</MudNavLink>
                <MudNavLink Href="/detallesUnidadesMed" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircle">Agregar</MudNavLink>
            </MudNavGroup>

            <MudNavGroup Title="Rubros" Icon="@Icons.Filled.Plumbing">
                <MudNavLink Href="/listaRubros" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList">Consultar</MudNavLink>
                <MudNavLink Href="/detallesRubro" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircle">Agregar</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>

        <MudNavGroup Title="Presupuestos" Icon="@Icons.Filled.Summarize">
            <MudNavLink Href="/listaPresupuestos" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList">Consultar</MudNavLink>
            <MudNavLink Href="/detallesPresupuesto" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircle">Agregar</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Proveedores" Icon="@Icons.Filled.ContactPhone">
            <MudNavLink Href="/listaProveedores" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList">Consultar</MudNavLink>
            <MudNavLink Href="/detallesProveedor" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircle">Agregar</MudNavLink>

            <MudNavGroup Title="Contacto de Proveedor" Icon="@Icons.Filled.PhoneAndroid">
                <MudNavLink Href="/listaContactosProv" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList">Consultar</MudNavLink>
                <MudNavLink Href="/detallesContactosProv" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircle">Agregar</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>

        <MudNavGroup Title="Informes" Icon="@Icons.Filled.PieChart">
                <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Sell">Informe de Ventas</MudNavLink>
                <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.MoneyOff">Informe de Deudores</MudNavLink>
        </MudNavGroup>

        <AuthorizeView Roles="1">
            <MudNavGroup Title="Consultas Varias" Icon="@Icons.Filled.Layers">
                    <MudNavLink Href="/listaClientes" Match="NavLinkMatch.All" Icon="@Icons.Filled.Person">Clientes</MudNavLink>
                    <MudNavLink Href="/listaCondIva" Match="NavLinkMatch.All" Icon="@Icons.Filled.Book">Condiciones IVA</MudNavLink>
                    <MudNavLink Href="/listaFormasPago" Match="NavLinkMatch.All" Icon="@Icons.Filled.Payments">Formas de Pago</MudNavLink>
                    <MudNavLink Href="/listaTarjetas" Match="NavLinkMatch.All" Icon="@Icons.Filled.CreditCard">Tarjetas</MudNavLink>
                    <MudNavLink Href="/listaEstadosCarro" Match="NavLinkMatch.All" Icon="@Icons.Filled.ShoppingCart">Estados Carro Compra</MudNavLink>
                    <MudNavLink Href="/listaTiposVentas" Match="NavLinkMatch.All" Icon="@Icons.Filled.LibraryBooks">Tipos Ventas</MudNavLink>
                    <MudNavLink Href="/listaTiposDoc" Match="NavLinkMatch.All" Icon="@Icons.Filled.AccountCircle">Tipos Documento</MudNavLink>
                    <MudNavLink Href="/listaTiposComp" Match="NavLinkMatch.All" Icon="@Icons.Filled.Summarize">Tipos Comprobante</MudNavLink>
                    <MudNavLink Href="/listaLocalidades" Match="NavLinkMatch.All" Icon="@Icons.Filled.LocationOn">Localidades</MudNavLink>
                    <MudNavLink Href="/listaProvincias" Match="NavLinkMatch.All" Icon="@Icons.Filled.LocationOn">Provincias</MudNavLink>
            </MudNavGroup>
        
            <MudNavGroup Title="Usuarios" Icon="@Icons.Filled.SupervisedUserCircle">
                    <MudNavLink Href="/listaUsuarios" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList">Consultar</MudNavLink>
                    <MudNavLink Href="/registro" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircle">Agregar</MudNavLink>
            </MudNavGroup>

            <MudNavGroup Title="Configuraciones" Icon="@Icons.Filled.SettingsApplications">
                <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Settings">Opcion 1</MudNavLink>
                <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Settings">Opcion 2</MudNavLink>
            </MudNavGroup>  
        </AuthorizeView>
    </MudNavMenu>
</MudDrawer>

@code{
    [Parameter]
    public bool SideBarOpen { get; set; }
}