@page "/login"
@inject IServUsuario ServUsuario
@inject NavigationManager NavigationManager

<h3>Login</h3>

<center>
    <div class="col-8 card">

        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>

        <div class="col-12 row">

            <div class="col-6" style="border-right:groove">
                <img src="" width="400" height="400" /> @*IMAGEN DEL LOGO*@
            </div>

            <div class="col-6 @errorIngreso" style="border-left:thick">
                <EditForm Model="@usuarioReq" OnValidSubmit="@Validar">
                    <div>
                        <br /><br /><br /><br /><br />
                    </div>
                    <div>
                        <h3 style="font-weight:bold; color:purple">Iniciar Sesi&oacute;n</h3>
                    </div>
                    <div>
                        <br />
                    </div>
                    <div class="col-12 row">
                        <input type="text" class="form-control col-12" @bind="usuarioReq.NombreUs" placeholder="Usuario" @onfocus="@Respuesta"/>
                    </div>
                    <br />
                    <div class="col-12 row">
                        <input type="password" class="form-control col-12" @bind="usuarioReq.Password" placeholder="Contraseña" @onfocus="@Respuesta"/>
                    </div>
                    <br />
                    <div class="col-12 row">
                        <span class="col-12"></span>
                        <input type="submit" class="form-control btn btn-primary btn-block" value="INGRESAR" />
                        <div class="col-6 row">
                            <input type="button" class="form-control btn btn-info btn-block" value="REGISTRARSE" />
                        </div>
                        <div class="col-6 row">
                            <input type="button" class="form-control btn btn-secondary btn-block" value="REGRESAR" />
                        </div>
                    </div>
                    <br />
                    <div class="col-12 row" style="text-align:center; font-weight:bold">
                        <span class="col-12" style="color:red">@respuesta</span>
                    </div>
                </EditForm>
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>

@code {
    //Objeto que guardara los datos de login
    private UsuarioRequest usuarioReq = new UsuarioRequest();
    private string respuesta = "";
    private string errorIngreso = "";

    private async Task Validar()
    {
        var valido = await ServUsuario.Login(usuarioReq);

        //Si fue valido el ingreso, cambio a la ruta principal nuevamente.
        if (valido)
            NavigationManager.NavigateTo("/");
        else
        {
            errorIngreso = "formContainer";
            respuesta = "Usuario y/o Contraseña Incorrectos.";
        }        
    }

    private void Respuesta()
    {
        errorIngreso = "";
        respuesta = "";
    }
}
